<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<%
    var blog = blogs[0];
%>
 <h2 id="title"><%=blog.title%></h2>
<span><%=blog.content%></span>
</body>
</html>